<main>
  {{#if post}}
    <section class="post-section">
      <h2 class="post-title">{{post.title}}</h2>
      <div class="post-info">
        <div class="post-user">{{post.username}}</div>
        <div>{{formatDate}}</div>
      </div>
      <div>
        {{post.description}}
      </div>
      <img class="post-image" src="/{{post.image}}" alt="image" />
    </section>
    <div class="divider"></div>
    <section>
      <h3>Comments</h3>
      <div id="commentDiv">
        {{#each comments}}
          <div class="comment-list">
            <div>
              <span class="color-text">@{{this.username}}</span>
              <span>{{this.createdAt}}</span>
            </div>
            <div class="comment-text">
              {{this.text}}
            </div>
          </div>
        {{/each}}
      </div>
      <div class="comment-container">
        <textarea class="comment-input" id="comment-text"></textarea>
        <button
          data-postid="{{post.id}}"
          class="color-button"
          id="submit-comment"
        >SUBMIT</button>
      </div>
    </section>
  {{/if}}
</main>